html,
body {
  height: 100vh;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  .control {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    user-select: none;
    position: relative;
    background-color: #212121;
    border: 4px solid #414141;
    color: #f9f9f9;
    z-index: 1000;
    &:active,
    &:focus-visible {
      background-color: #414141;
      border: 4px solid #212121;
    }

    svg {
      color: white;
      fill: white;
    }

    &::after {
      content: ' ';
      left: 0;
      user-select: none;
      position: absolute;
      width: 100%;
      bottom: 0;
      top: 0;
    }
  }

  .flex {
    display: flex;
    &.row {
      flex-direction: row;
      justify-content: space-between;

      &.gap-16 {
        column-gap: 16px;
      }
    }

    &.col {
      flex-direction: column;

      &.gap-16 {
        row-gap: 16px;
      }
    }
  }

  #left,
  #right {
    bottom: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  #left {
    left: 20px;

    button {
      &:first-child {
        width: 60px;
        height: 60px;
      }
    }
  }
  #right {
    right: 20px;
    button {
      align-self: flex-end;
      &:first-child {
        width: 60px;
        height: 60px;
      }
    }
  }
}

canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: -1;
}
button {
  z-index: 10000;
}
