html,
body {
  height: 100vh;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  .control {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    user-select: none;
    position: relative;
    background-color: #212121;
    border: 4px solid #414141;
    color: #f9f9f9;
    z-index: 1000;
    &:active,
    &:focus-visible {
      background-color: #414141;
      border: 4px solid #212121;
    }

    svg {
      color: white;
      fill: white;
    }
    
    &::after {
      content: ' ';
      left: 0;
      user-select: none;
      position: absolute;
      width: 100%;
      bottom: 0;
      top: 0;
    }
  }
  
  #left,
  #right {
    bottom: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  #left {
    left: 20px;
  }
  #right {
    right: 20px;
  }
}

html:not(:fullscreen) {
  @media (min-width: 1920px) {
    .control {
      display: none;
    }
  }
}